<div class="info_right">
  <div class="info_title">
    <h4>Hourly Forecast</h4>
    <div class="nav_options">
      @if (daySelected() === null) {
        <button class="btn-options">⚙️ Day ▼</button>
      } @else {
        <button class="btn-options">⚙️ {{ daySelected().day.slice(0,3) }} ▼</button>
      }
      <div class="options">
        @for(day of days(); track day.day) {
          <div class="opt">
            <p
            [class.unit-selected]="day.day === daySelected().day"
            (click)="changeDaySelected(day)"
            >{{ day.day }}</p>
          </div>
        }
      </div>
    </div>
  </div>
  <div class="times">
    @for (hour of hoursDaySelected(); track hour.time) {
      <div class="time">
        <div class="first_info">
          <img [src]="weatherIconsMapper[hour.weatherCode]">
          <h4>{{ hour.time }}</h4>
        </div>
        <div class="second_info">
          <p>{{ hour.temperature }}°</p>
        </div>
      </div>
    }

  </div>
</div>
