
/* ================= */
/* ===== RIGHT ===== */
/* ================= */

.info_right {
  background-color: var(--Neutral-800);
  border-radius: 1rem;
  padding: 2rem 1rem;
  border: 1px solid var(--Neutral-600);
}

.info_title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 2rem;
}

.info_title h4 {
  font-size: 2rem;
}

.times {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50rem;
  overflow-y: auto;   /* Activa el scroll vertical solo si es necesario */
  border: 1px solid #ccc;
}

/* ===== TIME ===== */

.time {
  background-color: var(--Neutral-700);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  color: white;
  border-radius: 1rem;
  border: 1px solid var(--Neutral-600);
}

.first_info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.first_info h4 {
  font-size: 2.5rem;
}

.first_info img {
  width: 5rem;
}

.second_info p {
  font-size: 2rem;
}

.times {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-height: 50rem;
  overflow-y: auto;
  border: none;
  scrollbar-width: thin;               /* Firefox */
  scrollbar-color: #6c73ff transparent;
}

/* Chrome, Edge, Safari */
.times::-webkit-scrollbar {
  width: 8px;
}

.times::-webkit-scrollbar-track {
  background: transparent;
}

.times::-webkit-scrollbar-thumb {
  background-color: #6c73ff;
  border-radius: 10px;
}

.times::-webkit-scrollbar-thumb:hover {
  background-color: #4f56e5;
}

