
/* ============== */
/* MAIN INFORMATION */
/* ============== */

@media (min-width: 768px) {
    .c_info {
        display: grid;
        grid-template-columns: 70% 30%;
        gap: 2rem;
    }
}

.c_info {
    padding: 2rem;
}

/* ===== LEFT ===== */
.info_left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 2rem;
}

/* ===== PRINCIPAL CARD =====*/
.principal_card {
    width: 100%;
    /* background: url('images/bg-today-small.svg'); */
    background-repeat: no-repeat;
    display: flex;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}

.today_left {
    margin-top: 2rem;
    text-align: center;
}

.today_left h3 {
    font-size: 3rem;
}

.today_right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.today_right img {
    width: 15rem;
}

.today_right p {
    font-size: 9rem;
    font-style: italic;
}

@media (min-width: 768px) {
    .principal_card {
        /* background: url('images/bg-today-small.svg'); */
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .today_left {
        text-align: left;
    }
}

/* ===== TODAY INFO =====*/

.today_info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
    place-items: center;
    margin-top: 2rem;
}

.litle_card {
    width: 15rem;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    color: white;
    font-size: 2rem;
    font-weight: 200;
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
}

.litle_card p {
    font-size: 3rem;
    margin-top: 2rem;
}

.litle_card h5 {
    color: var(--Neutral-300);
}

@media (min-width: 768px) {
    .today_info {
        grid-template-columns: repeat(4, 1fr);
    }
}

/* ===== DAILY FORECAST ===== */

.daily_forecast {
    margin-top: 3rem;
    display: grid;
}

.daily_forecast h4 {
    color: white;
    font-size: 2rem;
    margin-bottom: 3rem;
}

.daily_info {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    place-items: center;
    gap: 1rem;
}

.day_card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    background-color: var();
    background-color: var(--Neutral-800);
    border: 1px solid var(--Neutral-600);
    color: white;
    border-radius: 1rem;
    padding: 1rem;
}

.day_card h5 {
    font-size: 1.5rem;
}

.day_card img {
    width: 8rem;
}

.day_info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .daily_info {
        grid-template-columns: repeat(7,1fr);
    }
}

/* ================= */
/* ===== RIGHT ===== */
/* ================= */

.info_right {
    background-color: var(--Neutral-800);
    border-radius: 1rem;
    padding: 2rem 1rem;
    border: 1px solid var(--Neutral-600);
}

.info_title {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    margin-bottom: 2rem;
}

.info_title h4 {
    font-size: 2rem;
}

.times {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50rem;
    overflow-y: auto;   /* Activa el scroll vertical solo si es necesario */
    border: 1px solid #ccc;
}

/* ===== TIME ===== */

.time {
    background-color: var(--Neutral-700);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    color: white;
    border-radius: 1rem;
    border: 1px solid var(--Neutral-600);
}

.first_info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.first_info h4 {
    font-size: 2.5rem;
}

.first_info img {
    width: 5rem;
}

.second_info p {
    font-size: 2rem;
}

.times {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    max-height: 50rem;
    overflow-y: auto;
    border: none;
    scrollbar-width: thin;               /* Firefox */
    scrollbar-color: #6c73ff transparent;
}

/* Chrome, Edge, Safari */
.times::-webkit-scrollbar {
    width: 8px;
}

.times::-webkit-scrollbar-track {
    background: transparent;
}

.times::-webkit-scrollbar-thumb {
    background-color: #6c73ff;
    border-radius: 10px;
}

.times::-webkit-scrollbar-thumb:hover {
    background-color: #4f56e5;
}

