<main class="container">
  <!-- INFO -->
  <div class="c_info">
    <!-- LEFT / TOP -->
    <div class="info_left">
      <div class="principal_card" [style.backgroundImage]="'url(' + backgroundImageUrl() + ')'">
        <div class="today_left">
          <h3>Berlin, Germany</h3>
          <p>Tuesday, Aug 5, 2025</p>
        </div>
        <div class="today_right">
          <img src="images/icon-sunny.webp" alt="sun_icon">
          <p>20°</p>
        </div>
      </div>
      <div class="today_info">
        <div class="litle_card">
          <h5>Feels Like</h5>
          <p>18°</p>
        </div>
        <div class="litle_card">
          <h5>Humidity</h5>
          <p>46%</p>
        </div>
        <div class="litle_card">
          <h5>Wind</h5>
          <p>14 km/h</p>
        </div>
        <div class="litle_card">
          <h5>Precipitation</h5>
          <p>0 mm</p>
        </div>
      </div>
      <div class="daily_forecast">
        <h4>Daily Forecast</h4>
        <div class="daily_info">
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
          <div class="day_card">
            <h5>Tue</h5>
            <img src="images/icon-partly-cloudy.webp" alt="">
            <div class="day_info">
              <p>20°</p>
              <p>14°</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- RIGHT / BOTTOM -->
    <div class="info_right">
      <div class="info_title">
        <h4>Hourly Forecast</h4>
        <div class="nav_options">
          <button class="btn-options">⚙️ Day ▼</button>
          <div class="options">
            <div class="opt">
              <p class="unit-selected">Monday</p>
            </div>
            <div class="opt">
              <p >Tuesday</p>
            </div>
            <div class="opt">
              <p >Wednesday</p>
            </div>
            <div class="opt">
              <p >Thursday</p>
            </div>
            <div class="opt">
              <p >Friday</p>
            </div>
            <div class="opt">
              <p >Saturday</p>
            </div>
            <div class="opt">
              <p >Sunday</p>
            </div>
          </div>
        </div>
      </div>
      <div class="times">
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>
        <div class="time">
          <div class="first_info">
            <img src="images/icon-overcast.webp">
            <h4>3 PM</h4>
          </div>
          <div class="second_info">
            <p>20°</p>
          </div>
        </div>

      </div>
    </div>
  </div>
</main>
