
/* ========== */
/* SEARCH BAR */
/* ========== */
.search_bar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 5rem;
}

.search_bar h2 {
  font-size: 3rem;
  color: white;
  text-align: center;
  margin-bottom: 2rem;
}

.search_bar_c {
  width: 90%;
  border-radius: 1rem;
}

.input_bar {
  background-color: var(--Neutral-700);
  display: flex;
  align-items: center;
  gap: 1rem;
  border-radius: 1rem;
}

.input_bar i {
  font-size: 2rem;
  color: white;
  padding-left: 1rem;
}

.search_bar_c {
  position: relative;
  background-color: var(--Neutral-600);
}

.search_bar_c input {
  outline: none;
  width: 100%;
  padding: 1rem;
  border: none;
  background-color: var(--Neutral-700);
  border-bottom-right-radius: 1rem;
  border-top-right-radius: 1rem;
  color: white;
  font-size: 2rem;
}

.search_bar_c input::placeholder {
  color: white;
}

.search_bar_c:focus-within .search_options {
  clip-path: circle(150% at center top);
}

.search_options {
  position: absolute;
  top: 120%;
  right: 0;
  left: 0;
  clip-path: circle(0% at top center);
  transition: .5s clip-path;
  max-height: 25rem;
  overflow-y: auto;
  border: none;
  scrollbar-width: thin;               /* Firefox */
  scrollbar-color: #6c73ff transparent;
}

.search_options ul {
  background-color: var(--Neutral-800);
  padding: 1rem;
  border-radius: 1rem;
}

.search_options li {
  list-style: none;
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  border-radius: 1rem;
}

.search_options li:hover {
  background-color: var(--Neutral-700);
  cursor: pointer;
}

@media (min-width: 768px) {
  .search_bar_c {
      width: 60%;
  }
}

.search_options span {
  color: var(--Blue-700);
}
