<div class="daily_forecast">
  <h4>Daily Forecast</h4>
  <div class="daily_info">
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
    <div class="day_card">
      <h5>Tue</h5>
      <img src="images/icon-partly-cloudy.webp" alt="">
      <div class="day_info">
        <p>20°</p>
        <p>14°</p>
      </div>
    </div>
  </div>
</div>
